*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 background:white;
}
.container{
    margin: 100px 0 0 200px;
    width:auto;
    height: 450px;
    display: flex;
    justify-content:center;
    gap: 10px;
    margin-left: 3px;
}
.container img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(22, 1, 1, 0.684);
    transition: all ease-in-out;
    margin-top: 20px;

}
.container img:hover{
width: 25%;
}

nav{
    background: #f4d19e;
}
.navbar-brand{
    
        font-family: "Great Vibes", cursive;
        font-weight: 400;
        font-style: normal;
        
    
      
}
h2{
    
        font-family:  "Nanum Myeongjo", serif;
        font-weight: 400;
        font-style: normal;
        color: black;
        text-align: center;
        margin-top: 40px;
        font-weight: bold;
        margin-left: 2px;
        width:auto;

        
        
      
}


#wines{
    text-align: center;
}







#offcanvasNavbar{
    background:#EAE7DC;
    border: 2px solid black;
}
  li {
    font-size: 23px;
    font-family: "Libre Caslon Text", serif;
    transition: 1s;
}
li:hover{
    background:#865D36;
    border-radius: 10px;
    opacity: .9;
    
}
.nav-item a{
    transition: all ease-in-out;
}
.dropdown-menu{
    background: #EAE7DC;
}
/* .dropdown-menu li:hover{
    background:#865D36;
    
} */
/* #button-home{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left :30px;
    padding-right: 30px;
    margin-top: 100px;
    background: #5D001E;
    border-radius: 70px 10px 70px 10px;
 

} */


#page1card{
    background:#f4d19e;
}

.card-img-top{
    border-radius:10px;
    
}

.card-img-top:hover{
    box-shadow: 20px 30px 40px 10px rgba(22, 1, 1, 0.684);
    transition: 1s;
    opacity: .8;
    
    
}
.d-block{
    width: 600px;
    height: auto;
}
.wrapper{
    display: flex;
    overflow-x: auto;
    
}
.card-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-left: 10px;

}
.card-container .card img{
    width: 90%;
}
.card{
    overflow: hidden;
    width: 325px;
}
@media screen and (max-width:992px){
    .card-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
}